USE [QUANLYPHONGKHACHSAN]
GO
/****** Object:  Table [dbo].[Table.KHACHHANG]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table.KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[SĐT] [nchar](10) NULL,
	[CCCD] [nchar](12) NULL,
	[SOPHONG] [int] NOT NULL,
 CONSTRAINT [PK_Table.KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_DATPHONG]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_DATPHONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NOT NULL,
	[NGAYDAT] [date] NULL,
	[NGAYTRADUKIEN] [date] NULL,
 CONSTRAINT [PK_Table_DATPHONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_DATSANPHAM]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_DATSANPHAM](
	[IDDATSANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NOT NULL,
	[IDSANPHAM] [int] NULL,
	[SOLUONG] [nchar](10) NULL,
 CONSTRAINT [PK_Table_DATSANPHAM_1] PRIMARY KEY CLUSTERED 
(
	[IDDATSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_DICHVU_CU]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_DICHVU_CU](
	[MAKHACHHANG] [int] NOT NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[TIENSANPHAM] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_IDLOAIPHONG]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_IDLOAIPHONG](
	[IDLOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nchar](10) NULL,
	[TENKIEUPHONG] [nchar](10) NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_Table_IDPHONG] PRIMARY KEY CLUSTERED 
(
	[IDLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_KHACHHANGCU]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_KHACHHANGCU](
	[MAKHACHANG] [int] NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NOT NULL,
	[SĐT] [nchar](10) NOT NULL,
	[CCCD] [nchar](12) NOT NULL,
	[SOPHONG] [int] NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[NGAYTRADUKIEN] [date] NOT NULL,
	[NGAYTRATHUCTE] [date] NOT NULL,
	[TIENPHONG] [money] NOT NULL,
 CONSTRAINT [PK_Table_KHACHHANGCU] PRIMARY KEY CLUSTERED 
(
	[MAKHACHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_SANPHAM]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_SANPHAM](
	[IDSANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_Table_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[IDSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_SOPHONG]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_SOPHONG](
	[SOPHONG] [int] NOT NULL,
	[IDLOAIPHONG] [int] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[VESINHPHONG] [bit] NOT NULL,
 CONSTRAINT [PK_Table_IDPHONG_1] PRIMARY KEY CLUSTERED 
(
	[SOPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_USER]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_USER](
	[IDUSER] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_USER] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table.KHACHHANG] ON 

INSERT [dbo].[Table.KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SĐT], [CCCD], [SOPHONG]) VALUES (4, N'TRAN VAN DUNG                                     ', N'0359269858', N'049328589888', 104)
INSERT [dbo].[Table.KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SĐT], [CCCD], [SOPHONG]) VALUES (5, N'PHAM THI THANH TUYEN', N'0336589885', N'049358588556', 105)
INSERT [dbo].[Table.KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SĐT], [CCCD], [SOPHONG]) VALUES (9, N'MAI VAN GIANG', N'0369852456', N'049682565233', 109)
SET IDENTITY_INSERT [dbo].[Table.KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_DATPHONG] ON 

INSERT [dbo].[Table_DATPHONG] ([ID], [MAKHACHHANG], [NGAYDAT], [NGAYTRADUKIEN]) VALUES (5, 4, CAST(N'2024-01-03' AS Date), CAST(N'2024-01-06' AS Date))
INSERT [dbo].[Table_DATPHONG] ([ID], [MAKHACHHANG], [NGAYDAT], [NGAYTRADUKIEN]) VALUES (6, 5, CAST(N'2024-01-02' AS Date), CAST(N'2024-01-06' AS Date))
INSERT [dbo].[Table_DATPHONG] ([ID], [MAKHACHHANG], [NGAYDAT], [NGAYTRADUKIEN]) VALUES (10, 9, CAST(N'2024-01-01' AS Date), CAST(N'2024-01-07' AS Date))
SET IDENTITY_INSERT [dbo].[Table_DATPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_DATSANPHAM] ON 

INSERT [dbo].[Table_DATSANPHAM] ([IDDATSANPHAM], [MAKHACHHANG], [IDSANPHAM], [SOLUONG]) VALUES (6, 11, 9, N'3         ')
INSERT [dbo].[Table_DATSANPHAM] ([IDDATSANPHAM], [MAKHACHHANG], [IDSANPHAM], [SOLUONG]) VALUES (10, 9, 5, N'4         ')
INSERT [dbo].[Table_DATSANPHAM] ([IDDATSANPHAM], [MAKHACHHANG], [IDSANPHAM], [SOLUONG]) VALUES (14, 11, 3, N'1         ')
SET IDENTITY_INSERT [dbo].[Table_DATSANPHAM] OFF
GO
INSERT [dbo].[Table_DICHVU_CU] ([MAKHACHHANG], [TENSANPHAM], [SOLUONG], [TIENSANPHAM]) VALUES (3, N'COM SUON', 2, 90000.0000)
INSERT [dbo].[Table_DICHVU_CU] ([MAKHACHHANG], [TENSANPHAM], [SOLUONG], [TIENSANPHAM]) VALUES (15, N'COCA', 1, 50000.0000)
INSERT [dbo].[Table_DICHVU_CU] ([MAKHACHHANG], [TENSANPHAM], [SOLUONG], [TIENSANPHAM]) VALUES (56, N'COM TAM', 2, 150000.0000)
GO
SET IDENTITY_INSERT [dbo].[Table_IDLOAIPHONG] ON 

INSERT [dbo].[Table_IDLOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [TENKIEUPHONG], [DONGIA]) VALUES (1, N'VIP       ', N'DON       ', 300000.0000)
INSERT [dbo].[Table_IDLOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [TENKIEUPHONG], [DONGIA]) VALUES (2, N'THUONG    ', N'DON       ', 200000.0000)
INSERT [dbo].[Table_IDLOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [TENKIEUPHONG], [DONGIA]) VALUES (3, N'VIP       ', N'DOI       ', 500000.0000)
SET IDENTITY_INSERT [dbo].[Table_IDLOAIPHONG] OFF
GO
INSERT [dbo].[Table_KHACHHANGCU] ([MAKHACHANG], [TENKHACHHANG], [SĐT], [CCCD], [SOPHONG], [NGAYDAT], [NGAYTRADUKIEN], [NGAYTRATHUCTE], [TIENPHONG]) VALUES (3, N'HO THU HA                                         ', N'0356258888', N'042354565265', 103, CAST(N'2023-09-14' AS Date), CAST(N'2023-09-15' AS Date), CAST(N'2023-09-15' AS Date), 350000.0000)
INSERT [dbo].[Table_KHACHHANGCU] ([MAKHACHANG], [TENKHACHHANG], [SĐT], [CCCD], [SOPHONG], [NGAYDAT], [NGAYTRADUKIEN], [NGAYTRATHUCTE], [TIENPHONG]) VALUES (7, N'PHAN THANH VIET                                   ', N'0655252625', N'049855254848', 107, CAST(N'2023-09-28' AS Date), CAST(N'2023-10-01' AS Date), CAST(N'2023-09-30' AS Date), 400000.0000)
INSERT [dbo].[Table_KHACHHANGCU] ([MAKHACHANG], [TENKHACHHANG], [SĐT], [CCCD], [SOPHONG], [NGAYDAT], [NGAYTRADUKIEN], [NGAYTRATHUCTE], [TIENPHONG]) VALUES (8, N'NGUYEN THI TRA MY                                 ', N'0355415456', N'049332545657', 108, CAST(N'2023-09-28' AS Date), CAST(N'2023-10-02' AS Date), CAST(N'2023-10-02' AS Date), 1500000.0000)
GO
SET IDENTITY_INSERT [dbo].[Table_SANPHAM] ON 

INSERT [dbo].[Table_SANPHAM] ([IDSANPHAM], [TENSANPHAM], [DONGIA]) VALUES (1, N'COCA                                              ', 50000.0000)
INSERT [dbo].[Table_SANPHAM] ([IDSANPHAM], [TENSANPHAM], [DONGIA]) VALUES (2, N'PEPSI                                             ', 50000.0000)
INSERT [dbo].[Table_SANPHAM] ([IDSANPHAM], [TENSANPHAM], [DONGIA]) VALUES (3, N'SPRITE                                            ', 30000.0000)
SET IDENTITY_INSERT [dbo].[Table_SANPHAM] OFF
GO
INSERT [dbo].[Table_SOPHONG] ([SOPHONG], [IDLOAIPHONG], [TRANGTHAI], [VESINHPHONG]) VALUES (100, 1, 0, 0)
INSERT [dbo].[Table_SOPHONG] ([SOPHONG], [IDLOAIPHONG], [TRANGTHAI], [VESINHPHONG]) VALUES (101, 2, 1, 1)
INSERT [dbo].[Table_SOPHONG] ([SOPHONG], [IDLOAIPHONG], [TRANGTHAI], [VESINHPHONG]) VALUES (102, 3, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Table_USER] ON 

INSERT [dbo].[Table_USER] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (1, N'NGUOIDUNG                                         ', N'1234                                              ')
INSERT [dbo].[Table_USER] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (4, N'NGUOIDUNG2                                        ', N'12346                                             ')
INSERT [dbo].[Table_USER] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (5, N'NGUOIDUNG3                                        ', N'12347                                             ')
SET IDENTITY_INSERT [dbo].[Table_USER] OFF
GO
ALTER TABLE [dbo].[Table.KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_Table.KHACHHANG_Table_SOPHONG] FOREIGN KEY([SOPHONG])
REFERENCES [dbo].[Table_SOPHONG] ([SOPHONG])
GO
ALTER TABLE [dbo].[Table.KHACHHANG] CHECK CONSTRAINT [FK_Table.KHACHHANG_Table_SOPHONG]
GO
ALTER TABLE [dbo].[Table_DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_Table_DATPHONG_Table.KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[Table.KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[Table_DATPHONG] CHECK CONSTRAINT [FK_Table_DATPHONG_Table.KHACHHANG]
GO
ALTER TABLE [dbo].[Table_DATSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_Table_DATSANPHAM_Table.KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[Table.KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[Table_DATSANPHAM] CHECK CONSTRAINT [FK_Table_DATSANPHAM_Table.KHACHHANG]
GO
ALTER TABLE [dbo].[Table_DATSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_Table_DATSANPHAM_Table_SANPHAM] FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[Table_SANPHAM] ([IDSANPHAM])
GO
ALTER TABLE [dbo].[Table_DATSANPHAM] CHECK CONSTRAINT [FK_Table_DATSANPHAM_Table_SANPHAM]
GO
ALTER TABLE [dbo].[Table_SOPHONG]  WITH CHECK ADD  CONSTRAINT [FK_Table_IDPHONG_Table_IDLOAIPHONG] FOREIGN KEY([IDLOAIPHONG])
REFERENCES [dbo].[Table_IDLOAIPHONG] ([IDLOAIPHONG])
GO
ALTER TABLE [dbo].[Table_SOPHONG] CHECK CONSTRAINT [FK_Table_IDPHONG_Table_IDLOAIPHONG]
GO
/****** Object:  StoredProcedure [dbo].[SER_checklogin]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SER_checklogin]
@USERNAME nchar(50),
@PASSWORD nchar(50)
AS
SELECT [IDUSER]
      ,[USERNAME]
      ,[PASSWORD]
  FROM [dbo].[Table_USER]
  WHERE USERNAME=@USERNAME
  and PASSWORD=@PASSWORD
GO
/****** Object:  StoredProcedure [dbo].[USER_checklogin]    Script Date: 2024-01-05 9:10:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USER_checklogin]
@USERNAME nchar(50),
@PASSWORD nchar(50)
AS
SELECT [IDUSER]
      ,[USERNAME]
      ,[PASSWORD]
  FROM [dbo].[Table_USER]
  WHERE USERNAME=@USERNAME
  and PASSWORD=@PASSWORD
GO
