USE [QUANLYPHONGKHACHSAN]
GO
/****** Object:  Table [dbo].[Table.KHACHHANG]    Script Date: 9/28/2023 9:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table.KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[SĐT] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[IDPHONG] [int] NULL,
 CONSTRAINT [PK_Table.KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_DATPHONG]    Script Date: 9/28/2023 9:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_DATPHONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[NGAYDAT] [date] NULL,
	[NGAYTRA] [date] NULL,
	[SONGAYLUUTRU] [int] NULL,
 CONSTRAINT [PK_Table_DATPHONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_HOADON]    Script Date: 9/28/2023 9:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_HOADON](
	[IDHOADON] [int] IDENTITY(1,1) NOT NULL,
	[IDDATPHONG] [int] NULL,
	[IDSANPHAM] [int] NULL,
	[SOLUONGSP] [int] NULL,
	[TONG] [money] NULL,
 CONSTRAINT [PK_Table_HOADON] PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_IDLOAIPHONG]    Script Date: 9/28/2023 9:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_IDLOAIPHONG](
	[IDLOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nchar](10) NULL,
	[TENKIEUPHONG] [nchar](10) NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_Table_IDPHONG] PRIMARY KEY CLUSTERED 
(
	[IDLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_IDPHONG]    Script Date: 9/28/2023 9:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_IDPHONG](
	[IDPHONG] [int] IDENTITY(1,1) NOT NULL,
	[SOPHONG] [int] NULL,
	[IDLOAIPHONG] [int] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_Table_IDPHONG_1] PRIMARY KEY CLUSTERED 
(
	[IDPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_SANPHAM]    Script Date: 9/28/2023 9:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_SANPHAM](
	[IDSANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nchar](50) NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_Table_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[IDSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_USER]    Script Date: 9/28/2023 9:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_USER](
	[IDUSER] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nchar](50) NOT NULL,
	[PASSWORD] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Table_USER] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table.KHACHHANG] ON 

INSERT [dbo].[Table.KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SĐT], [CCCD], [IDPHONG]) VALUES (1, N'NGUYEN THI MAI                                    ', N'0769768428', N'049304005775', 1)
INSERT [dbo].[Table.KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SĐT], [CCCD], [IDPHONG]) VALUES (2, N'NGUYEN VAN HUNG                                   ', N'0357270346', N'049352685222', 2)
INSERT [dbo].[Table.KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SĐT], [CCCD], [IDPHONG]) VALUES (3, N'HO THU HA                                         ', N'0356258888', N'042354565265', 3)
SET IDENTITY_INSERT [dbo].[Table.KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_DATPHONG] ON 

INSERT [dbo].[Table_DATPHONG] ([ID], [MAKHACHHANG], [NGAYDAT], [NGAYTRA], [SONGAYLUUTRU]) VALUES (2, 1, CAST(N'2023-09-15' AS Date), CAST(N'2023-09-20' AS Date), 5)
INSERT [dbo].[Table_DATPHONG] ([ID], [MAKHACHHANG], [NGAYDAT], [NGAYTRA], [SONGAYLUUTRU]) VALUES (3, 2, CAST(N'2023-09-10' AS Date), CAST(N'2023-09-15' AS Date), 5)
INSERT [dbo].[Table_DATPHONG] ([ID], [MAKHACHHANG], [NGAYDAT], [NGAYTRA], [SONGAYLUUTRU]) VALUES (4, 3, CAST(N'2023-09-19' AS Date), CAST(N'2023-09-15' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Table_DATPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_HOADON] ON 

INSERT [dbo].[Table_HOADON] ([IDHOADON], [IDDATPHONG], [IDSANPHAM], [SOLUONGSP], [TONG]) VALUES (5, 2, 1, 3, 650000.0000)
INSERT [dbo].[Table_HOADON] ([IDHOADON], [IDDATPHONG], [IDSANPHAM], [SOLUONGSP], [TONG]) VALUES (6, 3, 1, 3, 1000000.0000)
SET IDENTITY_INSERT [dbo].[Table_HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_IDLOAIPHONG] ON 

INSERT [dbo].[Table_IDLOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [TENKIEUPHONG], [DONGIA]) VALUES (1, N'VIP       ', N'DON       ', 500000.0000)
INSERT [dbo].[Table_IDLOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [TENKIEUPHONG], [DONGIA]) VALUES (2, N'THUONG    ', N'DON       ', 250000.0000)
INSERT [dbo].[Table_IDLOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [TENKIEUPHONG], [DONGIA]) VALUES (3, N'VIP       ', N'DOI       ', 1000000.0000)
SET IDENTITY_INSERT [dbo].[Table_IDLOAIPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_IDPHONG] ON 

INSERT [dbo].[Table_IDPHONG] ([IDPHONG], [SOPHONG], [IDLOAIPHONG], [TRANGTHAI]) VALUES (1, 100, 1, 0)
INSERT [dbo].[Table_IDPHONG] ([IDPHONG], [SOPHONG], [IDLOAIPHONG], [TRANGTHAI]) VALUES (2, 101, 2, 0)
INSERT [dbo].[Table_IDPHONG] ([IDPHONG], [SOPHONG], [IDLOAIPHONG], [TRANGTHAI]) VALUES (3, 102, 3, 0)
SET IDENTITY_INSERT [dbo].[Table_IDPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_SANPHAM] ON 

INSERT [dbo].[Table_SANPHAM] ([IDSANPHAM], [TENSANPHAM], [DONGIA]) VALUES (1, N'COCA                                              ', 50000.0000)
INSERT [dbo].[Table_SANPHAM] ([IDSANPHAM], [TENSANPHAM], [DONGIA]) VALUES (2, N'PEPSI                                             ', 50000.0000)
INSERT [dbo].[Table_SANPHAM] ([IDSANPHAM], [TENSANPHAM], [DONGIA]) VALUES (3, N'SPRITE                                            ', 30000.0000)
SET IDENTITY_INSERT [dbo].[Table_SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_USER] ON 

INSERT [dbo].[Table_USER] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (1, N'NGUOIDUNG                                         ', N'12345                                             ')
INSERT [dbo].[Table_USER] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (4, N'NGUOIDUNG2                                        ', N'12346                                             ')
INSERT [dbo].[Table_USER] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (5, N'NGUOIDUNG3                                        ', N'12347                                             ')
SET IDENTITY_INSERT [dbo].[Table_USER] OFF
GO
ALTER TABLE [dbo].[Table.KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_Table.KHACHHANG_Table_IDPHONG] FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[Table_IDPHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[Table.KHACHHANG] CHECK CONSTRAINT [FK_Table.KHACHHANG_Table_IDPHONG]
GO
ALTER TABLE [dbo].[Table_DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_Table_DATPHONG_Table.KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[Table.KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[Table_DATPHONG] CHECK CONSTRAINT [FK_Table_DATPHONG_Table.KHACHHANG]
GO
ALTER TABLE [dbo].[Table_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_Table_HOADON_Table_DATPHONG] FOREIGN KEY([IDDATPHONG])
REFERENCES [dbo].[Table_DATPHONG] ([ID])
GO
ALTER TABLE [dbo].[Table_HOADON] CHECK CONSTRAINT [FK_Table_HOADON_Table_DATPHONG]
GO
ALTER TABLE [dbo].[Table_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_Table_HOADON_Table_SANPHAM] FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[Table_SANPHAM] ([IDSANPHAM])
GO
ALTER TABLE [dbo].[Table_HOADON] CHECK CONSTRAINT [FK_Table_HOADON_Table_SANPHAM]
GO
ALTER TABLE [dbo].[Table_IDPHONG]  WITH CHECK ADD  CONSTRAINT [FK_Table_IDPHONG_Table_IDLOAIPHONG] FOREIGN KEY([IDLOAIPHONG])
REFERENCES [dbo].[Table_IDLOAIPHONG] ([IDLOAIPHONG])
GO
ALTER TABLE [dbo].[Table_IDPHONG] CHECK CONSTRAINT [FK_Table_IDPHONG_Table_IDLOAIPHONG]
GO
